body{
    font-family: 'Assistant', sans-serif;
    background-color: #161719;
    margin: 1px;
    font-weight: normal;
    max-width: 100%;
      
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .big .bottom
    {width: 100%;}
    
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161719;
     letter-spacing: 0.3em;
    max-width: 100%;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    margin: 3px;
    padding: 11px 28px;
    font-size:13px;
    text-decoration: none;
      max-width: 100%;
}
li a:hover {
    background-color: #35363a;}


.main{
  background-image: url("../img/color.png");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:5%;
    color: white;

}

@media only screen and (max-width:500px){    
    .main {
        height: 600px; 
        background-image: url(../img/colormobile.png);}
    .text{
        margin-top: 25%;
        background-color: #161719;opacity :0.9;
        border: 2px solid white;
        font-weight: normal;  
        letter-spacing: 0.1em;
    }
}


.text{
    font-size: 2vh;
    text-align: left;
    background-color: #161719;opacity :0.9;
    border: 2px solid white;
    font-weight: normal;  
    letter-spacing: 0.1em;
    min-height: 100px;
    width: 650px;
    max-width: 100%;
    padding:1%;
    margin-top: 380px;
}


.button{
    color: white;
    background-color:#35363a ; 
    padding: 2%;
    color:black;
    font-size: 2vh;
}

.button a:link 
{ color: white; text-decoration: none;}
 .button a:visited 
{ color: white; text-decoration: none;}
 .button a:hover 
{ color: white; text-decoration: underline;}


.flex-grid{
     display: flex;
    justify-content:space-around;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    flex-flow: row; 
  flex-wrap: wrap;

}

.definition img{
   width: auto;
}

.flex-grid .col{
    flex:1;
    padding:3%;
}

.para{
    color: white;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-align: center;
    font-size: 2vh;
    font-weight: normal;
    padding: 240px 10%;
    height: auto;
    width: 100%;
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .flex-grid 
    { display: block; margin: 20% 0%}
    .col{ width: 100%; margin: 0 0 1px 0; padding:0; }
    .para{ padding: 0; text-align: left;
    }
    .img{
        width: 400px;
        height: auto;
    }
  }


.para h2{
    color: #c91f27;
    text-align: center;
    font-style: italic;
    width: 100%;
}




.select h2{
    margin-right: 2%;
    font-size: 5vh;
    margin:0% 5%;
    padding-top: 3%;
    text-align: center;
    color: white;
    
}

.parent{
    display: flex;
    justify-content:center;
    text-align: center;
    font-size: 2vh;
    padding: 3% 5%;
    margin:1% 5%;
    letter-spacing: 0.1em;
    color: white;
}



.mini{
    width: 330px;
    height: 400px;
    background: #161719; 
    -webkit-transition: width 2s;
    transition: width 2s;
    margin: 1%;
    font-size: 30px;
    border: 2px solid white;    
}

.mini:hover {
  width: 1100px;
}


@media only screen and (max-width:400px){    
    .mini {
        max-width: 500px; 
        flex: 1;
        margin-bottom: 30%;
    }
    .select h2{ padding-top: 10%; text-align: left;
        
    }
}

.image{
     background-image:url(../img/cityillust.png);
     background-repeat: no-repeat;
     background-position: center;
     opacity: 0.9
}

.color{
     background-image:url(../img/tubes.png);
     background-repeat: no-repeat;
     background-position: center;
     opacity: 0.9
    
}
 .mini a:link 
{ color:white; text-decoration: none;}

.mini a:visited 
{ color: white; text-decoration: none;}

 .mini a:hover 
{ color: white; text-decoration: underline;}

.texts{
    padding-top: 30px;
}



.bottom{
    background-color: #35363a;
    color: white;
    display: flex;
    
    justify-content: space-around;
    padding:0% 5%;
    font-size: 2vh;
    letter-spacing: 0.1em;
   
}
.home{
    flex: 1;
    text-align: left;
    margin: 3%;
     max-width: 100%;
    height: auto;
        overflow: hidden;

  
}


@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .bottom
    { display: block; margin: 20% 0%}
    .home{ width: 100%; margin: 0 0 1px 0; padding:0; }
    
    }


 .home a:link 
{ color: white; text-decoration: none;
}

 .home a:visited {
     color: white; 
     text-decoration: none;
}
 .home a:hover 
{ color: #161719;}

.social{
    display: flex;
    justify-content: space-around;
 
}

